h1{
    color: red;
    background-color: yellow;
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    background-color: yellow;
    text-align: center;
    font-size: 50px;
}

button:hover{
    background-color: green;
    color: yellow;
}